#al-team {
    min-height: 100vh;
    position: static;
    width: 100%;
}

.al-team-people-wrap {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.al-team-person {
    background-size: cover;
    height: 100%;
    position: absolute;
    background-position: center;
}

.al-team-person-content {
    width: 50%;
    height: 100%;
    padding: 20px;
    background-color: rgba($color: #000000, $alpha: 0.5);
    color: #fff;
    text-align: justify;
    position: absolute;
    overflow-y: scroll;
}

.al-team-person:nth-child(odd) .al-team-person-content {
    right: 0;
}

.al-team-person:nth-child(even) .al-team-person-content {
    left: 0;
}