.al-top-nav-bar {
    height: 30px;
    background-color: #ccc;
    background-image: linear-gradient(#aaa, #ccc);
    border-bottom: 1px solid #aaa ;
    padding: 0;
    color:#555;
    font-size: 1.2vw;
}


.al-top-nav-bar span {
    transition: 0.2s;
}

.al-top-nav-bar span:hover {
    color: #ddd;
    cursor: pointer;
    transition: 0.2s;
}

